<!-- ======= Hero Section ======= -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<%= stylesheet_link_tag 'home_signup_login'%>

<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <h1>Welcome to <span>FixIt</span></h1>
    <h2 class="m-0">FixIt is a Management of Voluntary Fixing System (MVFS)</h2>
    <h2 class="md-2">FixIt helps you to maintaint the environment</h2>
    <div class="d-flex">
      <a href="/new" class="btn-get-started scrollto">Get Started</a>
      <h2> Join this beautiful cooperative community</h2>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Mission, Vision</h2>
        <h3>Read our <span>Mission</span> and <span>Mission</span></h3>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fa-solid fa-bullseye"></i></div>
            <h4 class="title"><a href="">Mission</a></h4>
            <p class="description">The main objective and the primary purpose are to make the people maintain and
              take care of the environment around us.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="fa fa-eye"></i></div>
            <h4 class="title"><a href="">Vision</a></h4>
            <p class="description">FixIt will serve users at the highest quality. We will make FixIt the best System in the Voluntary Management</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Featured Services Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <h3>Find Out More <span>About FixIt</span></h3>
        <p>FixIt is web application designed by Ruby on Rails framework</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <%=image_tag("volunteer_about_img.jpg", :class => "img-fluid")%>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
          data-aos-delay="100">
          <h3>FixIt system will make it easy for people to do vulontary work.</h3>
          <p class="fst-italic">
            It gather people together to help each other and make our country a better place
          </p>
          <ul>
            <li>
              <i class="fa fa-store-alt"></i>
              <div>
                <h5>FixIt is running all around our country</h5>
                <p>Every person in Yemen can use FixIt, and cooperate with others to fix it</p>
              </div>
            </li>
            <li>
              <i class="fa fa-images"></i>
              <div>
                <h5>FixIt is to fix it</h5>
                <p>We choose this name because it implies that the system used to fix, repair or clean things and places</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <h3>Check our <span>Services</span></h3>
        <p>FixIt offers some good services for the user to facilitate the voluntary work and make it
          reliable as possible.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="fa fa-dribbble"></i></div>
            <h4><a href="">Submit Issue</a></h4>
            <p>Users can login to fixit system and submit or make an announcement for an issue needed to fix</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-handshake-angle"></i></div>
            <h4><a href="">Volunteer</a></h4>
            <p>Users can volunteer to fix the announced issues by other userrs, and cooperate together to fix issues</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-hand-holding-dollar"></i></div>
            <h4><a href="">Support</a></h4>
            <p>Users can be upporters too and support volunteers who trying to fix issues,
               supporters can support either by mony or materials</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-people-group"></i></div>
            <h4><a href="">Join Group</a></h4>
            <p>Volunteers can join to other volunteers to fix an issue which
               supervisored by a supervisor volunteer</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-people-roof"></i></div>
            <h4><a href="">Management</a></h4>
            <p>Employees can manage and observe the system and upply CRUD operations over users and issues</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Team</h2>
        <h3>Our Hardworking <span>Team</span></h3>
        <p>These our teem who developed FixIt sytem</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <%=image_tag("khalid.jpeg", :class => "img-fluid")%>
              <div class="social">
                <a href="https://twitter.com/khalid_pics" target=”_blank”><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100084587455358" target=”_blank”><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/khalid99io/" target=”_blank”><i class="fa fa-instagram"></i></a>
                <a href="https://github.com/khaliDevx" target=”_blank”><i class="fa fa-github"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Khalid Ahmed</h4>
              <span>Frontend Developer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <%=image_tag('Ali.jpg' ,class:"img-fluid") %>
              <div class="social">
                <a href="" target=”_blank”><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/ali.fouzi.10" target=”_blank”><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/ali.insta30/" target=”_blank”><i class="fa fa-instagram"></i></a>
                <a href="https://github.com/ali-bindohri" target=”_blank”><i class="fa fa-github"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Ali Bin_Dohri</h4>
              <span>Backend Developer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <%=image_tag('omer.jpg' ,class:"img-fluid") %>
              <div class="social">
                <a href="" target=”_blank”><i class="fa fa-twitter"></i></a>
                <a href="" target=”_blank”><i class="fa fa-facebook"></i></a>
                <a href="" target=”_blank”><i class="fa fa-instagram"></i></a>
                <a href="" target=”_blank”><i class="fa fa-gmil"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Omer Basaleh</h4>
              <span>Designer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="" target=”_blank”><i class="fa fa-twitter"></i></a>
                <a href="" target=”_blank”><i class="fa fa-facebook"></i></a>
                <a href="" target=”_blank”><i class="fa fa-instagram"></i></a>
                <a href="" target=”_blank”><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Omar Basalem</h4>
              <span>Analyzer</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>F.A.Q</h2>
        <h3>Frequently Asked <span>Questions</span></h3>
        <p>Here you can read the questions that is frequently asked by users about our system</p>
      </div>

      <div class="row justify-content-center">
        <div class="col-xl-10">
          <ul class="faq-list">

            <li>
              <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">What is FixIt system? <i class="fa fa-chevron-down icon-show"></i><i
                  class="fa fa-chevron-up icon-close"></i></div>
              <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  FixIt is a dynamic web site for Management of voluntary Fixing system that manage and facilitate
                  volunteering works
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">who can use this FixIt system? <i class="fa fa-chevron-down icon-show"></i><i
                  class="fa fa-chevron-up icon-close"></i></div>
              <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Any one has electronic device can run browser can run and use our system,
                  any one every where can use and browse the system freely
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">What we can do in FixIt system? <i class="fa fa-chevron-down icon-show"></i><i
                  class="fa fa-chevron-up icon-close"></i></div>
              <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  You can submit any issue or problem you see around you in your area to the system,
                  you submit issues so they will be fixed by other users who called volunteers
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Who are the volunteers?<i class="fa fa-chevron-down icon-show"></i><i
                  class="fa fa-chevron-up icon-close"></i></div>
              <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  The volunteers Are the users of the system, you can be one of them
                  and help them to fix issues which submitted by other users of the system all around our country.
                </p>
              </div>
            </li>

            <li>
              <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">How I can be a volunteer?<i
                  class="fa fa-chevron-down icon-show"></i><i class="fa fa-chevron-up icon-close"></i></div>
              <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                <p>
                  It is easy as a blink of an eye! you just have sign up to FixIt system and that is it
                  you can volunteer to fix issues or tell others about issues needed to be fixed,
                  and do not worry about the materials or the money that you need to fix the issues!!
                  there are some volunteers who would love to support you.
                </p>
              </div>
            </li>
            <li>
              <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">How I can request support?<i
                  class="fa fa-chevron-down icon-show"></i><i class="fa fa-chevron-up icon-close"></i></div>
              <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                <p>
                  after you volunteered to fix a specific issue, then you can request anyy materials you need.
                  then other users like which have the ability to support you will give you what you need.
                </p>
              </div>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        <h3><span>Contact Us</span></h3>
        <p>Here are our contact information, please drop us anything, we would love here from you.</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-6">
          <div class="info-box mb-4">
            <i class="fa-solid fa-location-dot"></i>
            <h3>Our Address</h3>
            <p>Yemen, Hadhramaut, Mukalla</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="fa-solid fa-envelope"></i>
            <h3>Email Us</h3>
            <p>fixit@gmail.com</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info-box  mb-4">
            <i class="fa-solid fa-phone"></i>
            <h3>Call Us</h3>
            <p>+967 772031299</p>
          </div>
        </div>

      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-6 ">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127249.70052310363!2d49.01872916541682!3d14.464662491728832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3de8e425d842c827%3A0x4c17c5473e84c6c3!2sAl%20Mukalla%2C%20Yemen!5e0!3m2!1sen!2sbg!4v1663428672428!5m2!1sen!2sbg" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>


        <!-- <div class="col-lg-6">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div> -->

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Join Us</h4>
          <div class="d-flex">
            <h3>Join this beautiful cooperative community </h3>
            <a href="/new" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>FixIt<span>.</span></h3>
          <p>
            Ibn Mahfouz Towers Forty Aparments <br>
            Al-Mukalla Hadramout<br>
            Yemen <br><br>
            <strong>Phone:</strong> +967 772031299<br>
            <strong>Email:</strong> fixit@gmail.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="fa fa-chevron-right"></i> <a href="#hero">Home</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="#about">About us</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="#services">Services</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="fa fa-chevron-right"></i> <a href="#">Announce for issues</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="#">Volunteer to fix issues</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="#">Support volunteers</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="#">Join to volunteers</a></li>
            <li><i class="fa fa-chevron-right"></i> <a href="#">Management</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <p>Follow us on social media below and see our new content</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-skype"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span>FixIt</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
      Designed by <a href="#">Fixt Group</a>
    </div>
  </div>
</footer><!-- End Footer -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fa fa-arrow-up"></i></a>
