<%= stylesheet_link_tag 'index' %>
<style>
  @media
    only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px) {
      .instagram-card{
        flex-flow: column nowrap;
        width: auto;
        padding: 15px 7px !important;
      }
      .submitted-issue-details-comment{
        border: none;
        padding: 0;
      }
      .submitted-issue-details{
        display: none;
      }
      .intagram-card-image img {
        width: 98%;
        max-height: 300px;
        border-radius: 5px;
      }
      .intagram-card-image{
        width: 108%;
      }
      .three-dots{
        padding-right: 0 !important;
      }
      .instagram-card-header{
        width: 100%;
	      justify-content: space-between;

      }
      .instagram-card-header div{
        width: 100%;
        margin-right: 10px;
      }            
      .employee-confirmation{
        width: 110%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
      }
      .employee-confirmation form{
        width: 56%;
      }
      .employee-confirmation .like-unlike{
        width: 34%;
      }
      .like-unlike i{
        font-size: 20px;
      }
      .like-unlike span{
        font-size: 14px;
      }
      .like-unlike .like{
        margin: 0 12px 0 0;
      }
      .employee-confirmation .publish-destroy{
        font-size: 10px;
        padding: 1;
        margin: 0 3px 0 0;
      }
      .details{
        margin: 20px 0;
        font-size: 15px;
        cursor: pointer;
        display: block;
        padding: 0;
      }
      .instagram-card-footer2 div{
        padding: 0;
        margin-top: 5px;
      }
      .open{
        padding: 0;
        margin-bottom: 20px 0;
      }
      .details2{
        display: none;
      }
      .model-container{
        width: 100%;
        height: 100%;
      }
      .model-container .comments-model{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
      .instagram-card-user-image{
        width: 30px;
        height: 30px;
      }
      .instagram-card-user-name{
        font-size: 15px;
      }
      .passed-issues div{
        font-size: 20px;
        padding-left: 10px;
      }
      .container-fluid{
        all: unset;
      }
      .add-issue{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        font-size: 16px;
        padding-right: 12px !important;
      }
      .scroll-to-top{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        margin: 0 10px;
        padding: 0 0 15px 0;
      }

    }
</style>




<%= stylesheet_link_tag 'index' %>

<div id="wrapper">
  <div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
      <h3 class="text-dark mb-0">Confirmed Issues</h3>
    </div>
    <div class="container">
      <% @user.each do |user| %>
        <%@problems=Problem.where(:status=>"Confirmed",:city_id=>user.city_id).with_attached_image%>
          <%end%>
            <% @problems.each do |problem| %>
              <div class="instagram-card shadow-sm p-3 mb-5 bg-white rounded">
              <div class="submitted-issue-img-likes">
                <div class="instagram-card-header">
                  <div>
                    <% @submiter = User.where(:id=> problem.user_id)%>
                    <% @submiter.each do |user| %>
                      <%if @photos=Photo.where(:user_id=>user.id).present?%>
                        <%@photos= Photo.where(:user_id=>user.id)%>
                          <% @photos.each do |photo| %>
                            <% if (photo.image.attached?) %>
                              <%=image_tag(url_for(photo.image),class:"instagram-card-user-image")%>
                            <% else %>
                              <%=image_tag('avatar.png', class:"instagram-card-user-image")%>
                            <% end %>
                          <% end %>
                        <% else %>
                          <%=image_tag('avatar.png', class:"instagram-card-user-image")%>
                            <% end %>
                              <span class="instagram-card-user-name">
                                <%=user.first_name%>
                                  <%=user.last_name%>
                              </span>
                      <%end%>
                  </div>
                  <button id="myBtn" class="three-dots fa fa-ellipsis-h"></button>
                </div>

                <div class="intagram-card-image">
                  <% if (problem.image.attached?) %>
                    <%=image_tag(url_for(problem.image))%>
                      <% else %>
                        <p>no image</p>
                        <% end %>
                </div>
                <div class="category-date">
                  <% @category=Category.where(:id=>problem.category_id)%>
                  <% @category.each do |category| %>
                    <div class="blog-category blog-text-success issue_info_parts">
                      <%= category.name%>
                    </div>
                    <% end %>
                  <div class="issue_date blog-text-success">
                    <span>Date:</span>
                      <%=problem.created_at.to_date%>
                  </div>
                </div>
                <div>
                  <div class="like-unlike">
                    <div class="like">
                      <button disabled><i class="far fa-thumbs-up un-like"></i></button>
                      <span>
                        <%=Confirm.where(:problem_id=>problem.id,:confirmed=>true).count%>
                      </span>
                    </div>
                    <div>
                      <button disabled><i class="far fa-thumbs-down un-like"></i></button>
                      <span>
                        <%=Confirm.where(:problem_id=>problem.id,:confirmed=>false).count%>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
                <div class="blog-table">
                  <div class="issue_info_parts">
                      <h4 class="blog-card-caption">Location:</h4>
                      <div class="blog-card-description">
                        <span>Governorate:</span>
                        <%@city=City.where(:id=>problem.city_id)%>
                          <% @city.each do |city| %>
                            <%@gove=Governorate.where(:id=>city.governorate_id)%>
                              <% @gove.each do |gove| %>
                                  <span>
                                    <%=gove.name%>
                                  </span>
                              <% end %>
                            <% end %>
                  </div>
                          <div class="blog-card-description">
                            <span>City:</span>
                            <% @city.each do |city| %>
                              <span>
                                <%=city.name%>
                              </span>
                              <%end%>
                          </div>
                        </div>

                        <div class="issue_info_parts">
                          <h4 class="blog-card-caption">Description</h4>
                          <p class="blog-card-description">
                            <%=problem.desciption%>
                          </p>
                        </div>
                        <div class="issue_info_parts">
                          <h4 class="blog-card-caption">Status</h4>
                          <p class="blog-card-description">
                            <%=problem.status%>
                          </p>
                        </div>
                        <div class="issue_info_parts">
                          <h4 class="blog-card-caption">Submitted by:</h4>
                          <div class="blog-card-description">
                            <span>user:</span>
                            <%@submiter=User.where(:id=> problem.user_id)%>
                              <% @submiter.each do |user| %>
                                <span>
                                  <%= link_to "#{user.first_name} #{user.last_name}",personal_page_user_path(user),:class=>"link-dark" %>
                                </span>
                                <% end %>
                          </div>
                        </div>
                        <div class="container">
                          <button id="open" class=open>View all <span id=number-cmt>
                              <%=Coment.where(:problem_id=>problem.id).count%>
                              </span> comments
                          </button>
                          <div class="model-container" tabindex="-1">
                            <div class="model">
                              <div class="instagram-card-header">
                                <div>
                                  <%@user.each do |user|%>
                                    <%if @photos=Photo.where(:user_id=>user.id).present?%>
                                      <%@photos= Photo.where(:user_id=>user.id)%>
                                        <% @photos.each do |photo| %>
                                          <% if (photo.image.attached?) %>
                                            <%=image_tag(url_for(photo.image),class:'instagram-card-user-image')%>
                                          <% else %>
                                            <%=image_tag('avatar.png',class:'instagram-card-user-image')%>
                                          <% end %>
                                        <% end %>
                                      <% else %>
                                        <%=image_tag('avatar.png',class:'instagram-card-user-image')%>
                                      <% end %>
                                        <span class="instagram-card-user-name">
                                          <%=user.first_name%>
                                          <%=user.last_name%>
                                        </span>
                                    <%end%>
                                </div>
                              </div>
                              <%@comments=Coment.where(:problem_id=>problem.id)%>
                                  <div class="users-comments">
                                <%@comments.each do |com|%>

                                    <div class="cmt">
                                      <%user=User.where(:id=>com.user_id)%>
                                        <%user.each do |user|%>
                                          <%if @photos=Photo.where(:user_id=>user.id).present?%>
                                            <%@photos=Photo.where(:user_id=>user.id)%>
                                              <% @photos.each do |photo| %>
                                                <% if (photo.image.attached?) %>
                                                  <%=image_tag(url_for(photo.image),class:'instagram-card-user-image')%>
                                                <% else %>
                                                  <%=image_tag('avatar.png',class:'instagram-card-user-image')%>
                                                <% end %>
                                              <% end %>
                                            <% else %>
                                              <%=image_tag('avatar.png',class:'instagram-card-user-image')%>
                                            <% end %>
                                              <div class="instagram-card-user-name">
                                                <%=user.first_name%>
                                                  <%=user.last_name%>
                                              </div>
                                        <%end%>
                                        <div class="cmt-txt">
                                          <%=com.comment%>
                                        </div>
                                    </div>
                                <%end%>

                                  </div>
                                    <div class="instagram-card-footer"></div>
                                    <i class="fas fa-times close"></i>
                            </div>
          
                          </div>
                        </div>
                          <% if @accepter.present?%>
                            <input  style="width:100px"type=submit class='btn btn-outline-info w-100' value='your already Supervisor' disabled>

                          <% else %>
                            <%# <button class="btn btn-outline-info w-100" id="btn-accept">Accept</button> %>
                            <%= link_to "Accept", accept_problem_path(problem), class:"btn btn-outline-info w-100"%>

                

                          <% end %>
                </div>
                
                <%# modal accept issue %>
                <%# <div id="accept-form" class="accept-modal">
                  <div class="modal-content-accept">
                    <div class="modal-body-accept">
                      <div>
                        <div>Number of needed volunteers:</div>
                        <form action=/accept method=POST>
                              <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token%>
                              <%# <input type=number name=accept[required_volunteer]> %>
                          <%# </div>
                            <div>
                              <div>Materials:</div>
                              <div class="table-responsive">
                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <td class="text-center">Name</td>
                                      <td class="text-center">Cost</td>
                                      <td class="text-center">Quantity</td>
                                      <td class="text-center">Total</td>
                                      <td class="text-center"></td>
                                      <td><button class="btn btn-md btn-primary" id="addBtn" type="button">+</button></td>
                                    </tr> %>
                                  <%# </thead>
                                  <tbody id="materials-list">
                                    <tr> %>

                                      <%# <td class="row-index text-center ">
                                        <%= select_tag :material_id,options_from_collection_for_select(Material.all.order(:name), :id, :name,params[:material_id]), class:"selectt-mat", include_blank: "Choose the material?" %>
                                      <%# </td> %>
                                      <%# <td class="row-index text-center"> %>
                                        <%# <%= number_field_tag(:cost, params[:cost]) %> 
                                          <%# <%= hidden_field_tag(:problem_id, params[:problem_id],value:problem.id) %> 

                                      <%# </td>
                                      <td class="row-index text-center">
                                        <%=number_field_tag(:quantity, params[:quantity])%>
                                      <%# </td> %> 
                                      <%# <td class="row-index text-center">
                                        <input type=number name=accept[totale_cost]>
                                      </td>
                                      <td class="text-center">

                                        <button class="btn btn-danger remove" type="button">Remove</button>
                                      </td>

                                    </tr>
                                  </tbody>
                                </table>
                                <input type=submit class='btn btn-outline-info w-50' value=Accept>

                            </div>
                          </div>
                      </form>
                    </div>
                  </div> %>
                <%# </div>  %>
              </div>
              <%end%>
    </div>
  </div>

<a class="border rounded d-inline scroll-to-top" href="" style="margin-right: 60px;">
  <i class="fas fa-angle-up"></i>
</a>
<a class="border rounded d-inline scroll-to-top" href="/submit_issue">
  <button class="btn btn-primary add-issue fa fa-plus" type="button" data-toggle="modal"
    data-target="#submit_issue">
  </button>
<a>
<script>

  $(function () {
     $(".details").click(function(){
      if($(this).children("i").hasClass("fa-caret-down")){
        $(".submitted-issue-details").slideUp(300)
        $(".details").children("i").removeClass("fa-caret-up")
        $(".details").children("i").addClass("fa-caret-down")
        $(this).siblings(".submitted-issue-details").slideDown(300);
        $(this).children("i").removeClass("fa-caret-down")
        $(this).children("i").addClass("fa-caret-up")
      } else if($(this).children("i").hasClass("fa-caret-up")){
        $(this).siblings(".submitted-issue-details").slideUp(300);
        $(this).children("i").removeClass("fa-caret-up")
        $(this).children("i").addClass("fa-caret-down")
      }
    })
    $('.open').click(function () {
      console.log("ccc")
      $(this).siblings('.model-container').delay(2000).css('transform', ' scale(1)')
      console.log("2222")

    });
    $('body').on('click', '.close', function () {
        $('.model-container').css('transform', ' scale(0)')
    });
  });
    
</script>

