<%= stylesheet_link_tag 'supervisor' %>
<%= stylesheet_link_tag 'join' %>
<style>

</style>
<div class="">

  <% @user.each do |user| %>
    <%@problems=Problem.where(:id=> @accept.problem_id,:status=>"Accepted").with_attached_image%>
  <%end%>
  <% @problems.each do |problem| %>
    <div class="instagram-card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="issue-img-group-sections">
          <div class="issue-inprogres-card">
            <div class="intagram-card-image">
              <% if (problem.image.attached?) %>
                <%=image_tag(url_for(problem.image))%>
                  <% else %>
                    <p>no image</p>
                    <% end %>
            </div>
            <div class="category-date">
              <% @category=Category.where(:id=>problem.category_id)%>
              <% @category.each do |category| %>
                <div class="blog-category blog-text-success issue_info_parts">
                  <%= category.name%>
                </div>
                <% end %>
              <div class="issue_date blog-text-success">
                <span>Date:</span>
                  <%=problem.created_at.to_date%>
              </div>
            </div>
          </div>
          <div class="blog-table">
            <div class="groups-section">
              <div class="group-title">Supporters</div>
              <div class="supporters-list blog-card-description">
                <div class="suporter">
                  <div>

                    <% @supportm = SupportedMoney.where(:problem_id=> problem.id)%>
                    <%@support_mat = MaterialSupporet.where(:problem_id=>problem.id)%>
                    <%@supportm.each do |sup|%>
                    <% support_money = User.where(:id=>sup.user_id)%>
                    <% support_money.each do |user| %>
                      <%if @photos=Photo.where(:user_id=>user.id).present?%>
                        <%@photos= Photo.where(:user_id=>user.id)%>
                          <% @photos.each do |photo| %>
                            <% if (photo.image.attached?) %>
                              <%=image_tag(url_for(photo.image),class:'instagram-card-user-image')%>
                            <% else %>
                              <%=image_tag('avatar.png',class:'instagram-card-user-image')%>
                            <% end %>
                          <% end %>
                      <% else %>
                        <%=image_tag('avatar.png',class:'instagram-card-user-image')%>
                      <% end %>
                        <div class="instagram-card-user-name h5">
                          <%= user.first_name%>
                            <%= user.last_name%>
                        </div>
                        <br>
                    <%end%>
                    <% end %>
                    <br>
                    <%@support_mat.each do |sup|%>
                    <% support_mat = User.where(:id=>sup.user_id)%>
                    <% support_mat.each do |user| %>
                      <%if @photos=Photo.where(:user_id=>user.id).present?%>
                        <%@photos= Photo.where(:user_id=>user.id)%>
                          <% @photos.each do |photo| %>
                            <% if (photo.image.attached?) %>
                              <%=image_tag(url_for(photo.image),class:'instagram-card-user-image')%>
                            <% else %>
                              <%=image_tag('avatar.png',class:'instagram-card-user-image')%>
                            <% end %>
                          <% end %>
                      <% else %>
                        <%=image_tag('avatar.png',class:'instagram-card-user-image')%>
                      <% end %>
                        <div class="instagram-card-user-name h5">
                           <%= link_to "#{user.first_name} #{user.last_name}",personal_page_user_path(user),:class=>"link-dark" %>

                        </div>
                        <br>
                    <%end%>
                    <br>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="groups-section">
              <div class="h-50 w-100 change-supervisor">
                <form action=/chang method=POST>
                  <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token%>">
                        <select name=chang[user_id] class="form-control w-auto my-2">
                          <option>Select Volunteer</option>
                            <% join= JoinIssue.where(:problem_id=>problem.id)%>
                                <% join.each do |join| %>
                                <option value='<%=join.user_id%>'><%=User.find_by(:id=>join.user_id).first_name %></option>

                              <%end%>

                        </select>
                    <button class="btn btn-info">change supervisor</button>
                </form>
                <div class="m-3">My Team</div>
              </div>
              <div class="blog-card-description">
                <div class="">
                  <div>
                    <% @join = JoinIssue.where(:problem_id=> problem.id)%>
                    <%@join.each do |join|%>
                    <% @joiner = User.where(:id=>join.user_id)%>
                    <% @joiner.each do |user| %>
                      <%if @photos=Photo.where(:user_id=>user.id).present?%>
                        <%@photos= Photo.where(:user_id=>user.id)%>
                          <% @photos.each do |photo| %>
                            <% if (photo.image.attached?) %>
                              <%=image_tag(url_for(photo.image),class:'instagram-card-user-image')%>
                            <% else %>
                              <%=image_tag('avatar.png',class:'instagram-card-user-image')%>
                            <% end %>
                          <% end %>
                      <% else %>
                        <%=image_tag('avatar.png',class:'instagram-card-user-image')%>
                      <% end %>
                        <div class="instagram-card-user-name h5">
                          <%= link_to "#{user.first_name} #{user.last_name}",personal_page_user_path(user),:class=>"link-dark" %>
                        </div>
                        <br>
                    <%end%>
                     <%end%>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accept-show-requested">
            <div class="btn1">
              <div class="accept">
                <button id="recieve" class="btn btn-outline-info">Accept Support</button>
              </div>
              <div class="show-requested">
                <button id="show" class="btn btn-outline-info">Requested Material</button>
              </div>
            </div>
            <div class="btn2">

              <div>
                <%# <%= form_tag({:controller=>'problems',:action=>'start_work'},:remote=> true, method: :post) do%>
                  <%= hidden_field_tag(:problem_id, params[:problem_id],value:@problem.id) %>

                  <!-- <button id="show" class="btn btn-outline-info">Start Work</button> -->
                <%# <% end %>
              </div>
              <div>
                <%= form_tag({:controller=>'problems',:action=>'donesup'},class:"form-acc",:remote=> true, method: :post) do%>
                  <%= hidden_field_tag(:problem_id, params[:problem_id],value:@problem.id) %>
                  <% if @accept.done==true%>
                  <button  class="btn btn-outline-info" disabled>
                    Support completed
                      <i class="fa-solid fa-circle-check"></i>
                  </button>
                  <% else %>
                     <button  class="btn btn-outline-info" >
                        Support completed
                  </button>
                <% end %>
                <%end%>
              </div>
              </div>
          </div>
      <!--modal accept suporet-->
      <div class="model-container">
        <div class="model">
            <i class="fas fa-home"></i>
            <h3>Recieve Support Box</h3>
            <% @user.each do |user| %>
                <p>welcome <%=user.first_name%> </p>
                <h3>Select what you recieved from supporters</h3>
                <div class=main>
                  <button class=on>Money</button>
                  <button class=off>Materials</button>
                </div>
                <div class=money>
                    <%= form_tag({:controller=>'users',:action=>'accept_money'},:remote=> true, method: :post) do%>
                      <%# <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token%>
                      <input type=hidden name=accmoney[user_id] value=<%= user.id%>>
                      <input type=hidden name= accmoney[problem_id] value=<%= problem.id%>>
                      <select class="form-select" name=accmoney[sup_id]>
                        <%@supportm.each do |sup|%>
                        <% support_m = User.where(:id=>sup.user_id)%>
                          <% support_m.each do |user| %>
                            <option value="<%=user.id%>"><%= user.first_name%>  <%= user.last_name%><option>
                          <% end %>
                        <% end %>
                      </select>
                      <input type=number name=accmoney[amount] class="sel">
                      <button class="btn-money">Support</button>
                    <% end %>
                </div>
                <div class="matt">

                    <%= form_tag({:controller=>'users',:action=>'accept_mat'},:remote=> true, method: :post) do%>

                      <%# <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token%>
                      <input type=hidden name=accmat[user_id] value=<%= user.id%>>
                      <input type=hidden name= accmat[problem_id] value=<%= problem.id%>>
                     <select class="form-control w-50" name=accmat[sup_id]>
                      <%@support_mat.each do |sup|%>
                        <% support_mat = User.where(:id=>sup.user_id)%>
                          <% support_mat.each do |user| %>
                            <option value="<%=user.id%>"><%= user.first_name%> <%= user.last_name%><option>
                          <% end %>
                        <% end %>
                     </select>
                      <select class="form-control w-50" name=accmat[material_id]>
                      <%@support_mat.each do |sup|%>
                      <%matid = Material.where(:id=>sup.material_id)%>
                      <%matid.each do |mat|%>
                        <option value=<%=mat.id%>><%=mat.name%></option>
                        <% end %>
                      <% end %>
                      </select>
                     <input type=number class="form-control w-50" name=accmat[quantity]>
                     <button >Received</button>
                   <% end %>
                 </div>
            <% end %>
            <i class="fas fa-times close"></i>
          </div>
      </div>
      <!--modal requred support-->
      <div class="model-container2">
          <div class="model2">
              <i class="fas fa-home"></i>
              <h3>Recieve Support Box</h3>
              <% @user.each do |user| %>
                  <p>welcome <%=user.first_name%> </p>
                  <h3>Select what you recieved from supporters</h3>
                  <div class=main>
                    <%# <button class=on>Recieved</button>
                    <button class=off>Requested</button> %>
                  </div>
                  <div class=money>
                  <%billof = BillOfMaterial.where(:accept_id=>@accept.id) %>
                  <%billof.each do |bil|%>
                    <% mat = Material.where(:id=>bil.material_id)%>
                    <% mat.each do |mat|%>
                      <%=mat.name%>
                      <%= bil.quantity%>
                      <br>
                    <% end %>
                  <% end %>
                  <span>Total cost: <%= @accept.totale_cost%><span>
                  </div>
                  <div class="matt">
                   </div>
              <% end %>
              <i class="fas fa-times close"></i>
          </div>
      </div>
      <div class="support-tables">
        <div class="mat-table">
          Recieved Materials
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <td>Supporter</td>
                <td>Material</td>
                <td>Quantity</td>
              </tr>
            </thead>
            <tbody>
              <% acc_mat = AcceptMat.where(:problem_id=>problem.id)%>
              <% acc_mat.each do |acc|%>
                <tr>
                  <% user = User.where(:id=>acc.sup_id)%>
                  <% user.each do |user|%>
                    <td><%= user.first_name %> <%= user.last_name %></td>
                  <% end %>
                  <% accmat = Material.where(:id=>acc.material_id)%>
                  <% accmat.each do |acc|%>
                    <td><%= acc.name%></td>
                  <% end %>
                  <td><%= acc.quantity%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="money-table">
          Recieved Money
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <td>Supporter</td>
                <td>Amount</td>
              </tr>
            </thead>
            <tbody>
              <% acc_money = AcceptMoney.where(:problem_id=>problem.id)%>
              <% acc_money.each do |acc|%>
                <tr>
                  <% user = User.where(:id=>acc.sup_id)%>
                  <% user.each do |user|%>
                    <td><%= user.first_name %> <%= user.last_name %></td>
                  <% end %>
                  <td><%= acc.amount%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <%end%>
</div>
<a class="border rounded d-inline scroll-to-top" href="" style="margin-right: 60px;">
  <i class="fas fa-angle-up"></i>
</a>
<a class="border rounded d-inline scroll-to-top" href="<%=new_fixed_issue_path%>">
  <button class="btn btn-primary add-issue fa fa-plus" type="button" data-toggle="modal"
    data-target="#submit_issue">
  </button>
 <a>
<script>
  $(function(){
    $('#recieve').click(function(){
      $('.model-container').delay(2000).css('transform',' scale(1)')
    });
    $('#show').click(function(){
      $('.model-container2').delay(2000).css('transform',' scale(1)')
    });
    $('body').on('click','.close',function(){
      $('.model-container').css('transform',' scale(0)')
    });
    $('body').on('click','.close',function(){
      $('.model-container2').css('transform',' scale(0)')
    });
    $('.off').click(function(){
              $('.money').hide()
              $('.matt').show()
              $('.off').delay(2000).css('background','rgb(50, 150, 250)')
              $('.on').delay(2000).css('background','#fff')

            });
    $('.on').click(function(){
      $('.money').show()
      $('.matt').hide()
      $('.on').delay(5000).css('background','rgb(50, 150, 250)')
      $('.off').delay(5000).css('background','#fff')
    });
  });

</script>
