

<%= stylesheet_link_tag 'submit_issue'%>

<%= form_with(model: fixed_issue ,class:"container-form") do |form| %>
  <% if fixed_issue.errors.any? %>
    <div id="error_explanation">
      <h2 class=h2><%= pluralize(fixed_issue.errors.count, "error") %> pleases try again</h2>
      <ul>
        <% fixed_issue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="choose-photo-form">
    <div class="select-photo custom-file">
      <div class="mb-5">
        <div class="form-label custom-file-input" id="formFile" onchange="preview()"><%= form.file_field :image %></div>
        <label class="custom-file-label">Choose Image of fixed issue</label>
      </div>
    </div>
    <%=image_tag('image-preview2.png', id:"frame", class:"img-preview", style:"width: 250px; height: 300px;", name:"image")%>
    </div>
    <div class="issueInfo">
      <div class="issueInfoParts">
        <label>Report</label>
        <%= form.text_area :description, label: "desciption",class:"form-control" ,placeholder:"Add report about this issue after fixing it..." ,rows:"7" ,cols:"30" %>
        <%= form.hidden_field(:user_id, value:session[:user_id]) %>
        <%= form.hidden_field(:problem_id, value:@problem.id) %>
      </div>
      <button class="btn btn-primary submit-issue" type="submit">Issue Fixed</button>
    </div>
<% end %>
<script>
function preview() {
  frame.src = URL.createObjectURL(event.target.files[0]);
}
</script>


