<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FixIt</title>
    <meta name="theme-color" content="#2eb8e6">
    <%= favicon_link_tag 'fixit_icon' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="manifest.json">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<style>
 .img_size{
      width: 40px;
      height: 40px;
	   border-radius: 50%;
   }
   .fa-circle-check{
        color:  #106eea;
    }
    @media
    only screen
    and (max-width: 760px), (min-device-width: 768px)
    and (max-device-width: 1024px){
    .user-navs-mobile{
        float: right;
    }

}
</style>
  <body class="body d-flex flex-column min-vh-100">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">
                        <span>FixIt</span>
                    </div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                <%us=User.where(:id=>session[:user_id],:user_type=>"Employee" ).or(User.where(:id=>session[:user_id],:user_type=>"Admin" ))%>
                <%if us.present?%>
                    <li class="nav-item">
                        <a class="nav-link active" href="/issue">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <%else%>
                    <li class="nav-item">
                        <a class="nav-link active" href="/index">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <%end%>
                    <%@employee= User.where(:id=>session[:user_id],:user_type=>"Employee").or(User.where(:id=>session[:user_id],:user_type=>"Admin" ))%>
                    <%if @employee.present?%>
                        <li class="nav-item">
                            <a class="nav-link" href="/user">
                                <i class="fas fa-table"></i>
                                <span>Users</span>
                            </a>
                        </li>
                           <li class="nav-item">
                            <a class="nav-link" href="/report">
                                <i class="fas fa-table"></i>
                                <span>Reports</span>
                            </a>
                        </li>
                        <% user = User.find_by(:id=>session[:user_id])%>
                        <% if user.user_type=="Admin"%>
                            <li class="nav-item">
                                <a class="nav-link" href="/add_emoployee">
                                    <i class="fas fa-user-circle"></i>
                                    <span>Add Employees</span>
                                </a>
                            </li>
                        <% end %>
                    <li class="nav-item"> <a class="nav-link" href="/addition">
                    <i class="fas fa-plus "></i><span>Additions</span>
                        </a>
                    </li>
                     <li class="nav-item">
                            <a class="nav-link" href="/issue">
                                <i class="fas fa-camera"></i>
                                <span>Submitted Issues</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/index">
                                <i class="fas fa-camera"></i>
                                <span>Passed Issues</span>
                            </a>
                        </li>
                    <%end%>
                    <li class="nav-item">
                            <a class="nav-link" href="/confirmed_issue">
                                <i class="fas fa-camera"></i>
                                <span>Confirmed Issues</span>
                            </a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="/accept_status">
                                <i class="fas fa-camera"></i>
                                <span>Join and Support</span>
                            </a>
                    </li>
                      <li class="nav-item">
                            <a class="nav-link" href="<%=fixed_issues_path%>">
                                <i class="fas fa-camera"></i>
                                <span>Fixed Issue</span>
                            </a>
                    </li>


                </ul>
                <div class="text-center d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                        <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button">
                            <i class="fas fa-bars"></i>
                        </button>
                        <ul class="user-navs-mobile navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/help"  title="Help">
                                    <i class="fas fa-question-circle "></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
                                        href="#" title="Notifications">
                                        <%if us.present?%>
                                            <span class="badge bg-danger badge-counter"></span>
                                            <%if Problem.where(:status=>"Submitted").count ==0%>
                                            <i class="fas fa-bell fa-fw"></i>
                                            <%else%>
                                                <i class="fas fa-bell fa-fw"></i>
                                                <div style="color:red;font-size: 10px;"><%=Problem.where(:status=>"Submitted").count %></div>
                                            <%end%>
                                            <%u = User.find_by(:id=>session[:user_id],:message=>true)%>
                                        <% elsif  u = User.find_by(:id=>session[:user_id],:message=>true)%>
                                            <i class="fas fa-bell fa-fw"></i>
                                                <div style="color:red;font-size: 10px;">1</div>

                                        <%end%>
                                    </a>
                                    <%if us.present?%>

                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <%@problem = Problem.where(:status=>"Submitted")%>
                                        <%@problem.each do |problem|%>
                                        <a class="dropdown-item d-flex align-items-center" href="/issue">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle">
                                                   <%=image_tag(problem.image, class:"img_size")%>
                                             <i class="fas fa-question-circle "></i>   </div>
                                            </div>
                                            <div>
                                                <span class="small text-gray-500"><%=problem.created_at.day%>-<%=problem.created_at.month%>-<%=problem.created_at.year%></span>
                                                <p><%=problem.desciption%></p>
                                            </div>
                                        </a>
                                        <% end %>
                                        <%elsif u.present?%>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                            <h6 class="dropdown-header">alerts center</h6>

                                            <a class="dropdown-item d-flex align-items-center" href="/accept_requst">
                                                <div class="me-3">
                                                    <div class="bg-primary icon-circle">

                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="small text-gray-500"></span>
                                                    <p>Request you to be supervisor </p>
                                                </div>
                                            </a>

                                        <%else%>
                                         <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6>

                                        <a class="dropdown-item d-flex align-items-center" href="">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle">

                                                </div>
                                            </div>
                                            <div>
                                                <span class="small text-gray-500"></span>
                                                <p></p>
                                            </div>
                                        </a>

                                        <%end%>
                                        <%# <a class="dropdown-item text-center small text-gray-500" href="#">Show All
                                            Alerts</a> %>
                                    </div>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
                                        href="#">
                                        <% @user = User.where(:id=>session[:user_id]) %>
                                            <% @user.each do |user| %>
                                                <span class="d-none d-lg-inline me-2 text-gray-600 small"><%=user.first_name%><span> </span><%=user.last_name%><%if user.supervisor==true%> <i class="fa-solid fa-circle-check"><% end %></i></span>
                                                    <%if @photos = Photo.where(:user_id=>user.id).present?%>
				                                            	<% @photos = Photo.where(:user_id=>user.id)%>
				                                            	<% @photos.each do |photo| %>
      			                                            		<% if (photo.image.attached?) %>
      			                                            		  <%=image_tag(url_for(photo.image),class:'border rounded-circle img-profile')%>
      			                                            		<% else %>
                                                                		<%=image_tag('avatar.png',class:'border rounded-circle img-profile')%>
      			                                            		<% end %>
				                                            	    <% end %>
				                                    <% else %>
                                                                <%=image_tag('avatar.png',class:'border rounded-circle img-profile')%>
				                                    <% end %>
                                    </a>

                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">

                                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;<%= link_to "Profile", personal_page_user_path(user),:class=>"link-dark " %>
                                        <div class="dropdown-divider"></div>

                                        <%if user.supervisor==true%>
                                        <a class="dropdown-item" href="/supervisor">
                                            <i class="fas fa-home fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;In Progress
                                        </a>
                                        <% end %>
                                        <a class="dropdown-item" href="/log_out">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout
                                        </a>


                                    <% end %>
                                    </div>
                                </div>
                            </li>
                        </ul>
                </nav>
                <div class="container-fluid">
                    <%= yield %>
<script>
    (function () {
        "use strict";
        var e = document.querySelector(".sidebar"), o = document.querySelectorAll("#sidebarToggle, #sidebarToggleTop");
        if (e) {
            e.querySelector(".collapse");
            var t = [].slice.call(document.querySelectorAll(".sidebar .collapse")).map((function (e) {
                return new bootstrap.Collapse(e, { toggle: !1 })
            }));
            for (var l of o) l.addEventListener("click", (function (o) {
                if (document.body.classList.toggle("sidebar-toggled"), e.classList.toggle("toggled"), e.classList.contains("toggled"))
                for (var l of t) l.hide()
            }));
            window.addEventListener("resize", (function () {
                if (Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0) < 768)
                for (var e of t) e.hide() }))
        }
        var i = document.querySelector(".scroll-to-top");
        i && window.addEventListener("scroll", (function () {
            var e = window.pageYOffset;
            i.style.display = e > 100 ? "block" : "none"
        }))

        // Denotes total number of rows
        var rowIdx = 0;
        // jQuery button click event to add a row
        $('#addBtn').on('click', function () {
            // Adding a row inside the tbody.

            $('#materials-list').append(`<tr id="R${++rowIdx}">
                <td class="row-index text-center">
                    <%= select_tag :material_id,options_from_collection_for_select(Material.all.order(:name), :id, :name,params[:material_id]), class:"selectt-mat", include_blank: "Choose the material?" %>

                </td>
                <td class="row-index text-center">
                    <%= number_field_tag(:cost, params[:cost]) %>
                </td>
                <td class="row-index text-center">
                    <%=number_field_tag(:quantity, params[:quantity])%>

                </td>
                <td class="row-index text-center">
                    <input type=number name=accept[totale_cost]>
                </td>
                <td class="text-center">
                    <button class="btn btn-danger remove"
                    type="button">Remove</button>
                    </td>
                </tr>`
            );
        });
        // jQuery button click event to remove a row.
        $('#materials-list').on('click', '.remove', function () {

            // Getting all the rows next to the row
            // containing the clicked button
            var child = $(this).closest('tr').nextAll();

            // Iterating across all the rows
            // obtained to change the index
            child.each(function () {

            // Getting <tr> id.
            var id = $(this).attr('id');

            // Getting the <p> inside the .row-index class.
            var idx = $(this).children('.row-index').children('p');

            // Gets the row number from <tr> id.
            var dig = parseInt(id.substring(1));

            // Modifying row index.
            idx.html(`Row ${dig - 1}`);

            // Modifying row id.
            $(this).attr('id', `R${dig - 1}`);
            });

            // Removing the current row.
            $(this).closest('tr').remove();

            // Decreasing total number of rows by 1.
            rowIdx--;
        });

    })()
</script>
</body>
</html>
